@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
    font-family: 'Nunito', Helvetica, sans-serif;
    font-size: 18px;
    color: #4f4f4f;
    background-color: #fefefe;
}

button {
    background-color: #fa7420;
    color: #fff;
    padding: 6px 12px;
    margin: 0;
    border: none;
    font-size: 14px;
    border-radius: 4px;
}

button:hover {
    background-color: #ff6200;
}

header {
    width: 600px;
    margin: auto;
}

header h2 {
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
    background-color: #a6a6a6;
    border: 0;
    border-radius: 10px;
    width: 600px;
    margin: auto;
}

#console {
    padding: 3px;
    background-color: inherit;
    border-radius: inherit;
    text-align: center;
}